<%inherit file="/base.html"/>

<%block name="content">
<template id="header_tpl_15311201924782">
    <tr>
        <th style="width: 70px;">#index#</th>
        <th style="width: 15%;">#app_name#</th>
        <th style="width: 15%;">#username#</th>
        <th style="width: 15%;">#url#</th>
        <th style="width: 15%;">#ef_date#</th>
        <th style="width: 15%;">#ex_date#</th>
        <th>操作</th>
    </tr>
</template>
<template id="tpl_15311201924782">
    <tr>
        <td style="width: 70px;">#index#</td>
        <td style="width: 15%;">#app_name#</td>
        <td style="width: 15%;">#username#</td>
        <td style="width: 15%;">#url#</td>
        <td style="width: 15%;">#ef_date#</td>
        <td style="width: 15%;">#ex_date#</td>
        <td>
            <button class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
    </tr>
</template>

<div class="king-page-box">
        <div class="king-container clearfix">
            <div class="container-fluid m5 ">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">业务系统：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control bk-valign-top" id="" placeholder="填写系统名称"> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">URL：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control bk-valign-top" id="" placeholder="系统访问地址"> </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group clearfix">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="button" class="king-btn mr10  king-success">导入证书</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table mb0 pr15 ranger-box2  ">
                <thead>

                </thead>
                <tbody>

                </tbody>
            </table>
            <template id="header_tpl_15321934252192">
                <tr>
                    <th style="width: 70px;">#index#</th>
                    <th style="width: 15%;">#name#</th>
                    <th style="width: 15%;">#position#</th>
                    <th style="width: 15%;">#date#</th>
                    <th style="width: 15%;">#type#</th>
                    <th>操作</th>
                </tr>
            </template>
            <template id="tpl_15321934252192">
                <tr>
                    <td style="width: 70px;">#index#</td>
                    <td style="width: 15%;">#name#</td>
                    <td style="width: 15%;">#position#</td>
                    <td style="width: 15%;">#date#</td>
                    <td style="width: 15%;">#type#</td>
                    <td>
                        <button class="btn btn-xs btn-success"> <i class="glyphicon glyphicon-ok"></i> </button>
                        <button class="btn btn-xs btn-warning"> <i class="glyphicon glyphicon-edit"></i> </button>
                        <button class="btn btn-xs btn-danger"> <i class="glyphicon glyphicon-remove"></i> </button>
                    </td>
                </tr>
            </template>
            <!-- 设置面板End -->
        </div>
    </div>
</%block>
<%block name='footerline'>
<script>
    $(function () {
        function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function () {
                var val = cfg[arguments[2]] + '';
                if (typeof val == 'undefined') {
                    val = '';
                }
                return val;
            });
        }

        function init_list() {
            $.ajax({
                url: site_url + 'search_cer',
                type: 'GET',
                success: function (res) {
                    $('.ranger-box2 tbody').empty();
                    var _html = ' ';
                    var list = res.items;
                    var tpl = $('#tpl_15311201924782').html();
                    var headerTpl = $('#header_tpl_15311201924782').html();
                    list.forEach(function (item, i) {
                        var row = $(renderTpl(tpl, item));
                        row.find(".btn.btn-xs.btn-danger").click(function () {
                            var row_ref = $(this).parent().parent();
                            $.post(site_url + "delete_cer?cer_id=" + item.id, {}, function (res) {
                                if (!res.result) {
                                    alert(res.message);
                                    return;
                                }
                                row_ref.remove();
                            })
                        });

                        $('.ranger-box2 tbody').append(row);
                    })

                    $('.ranger-box2 thead').html(renderTpl(headerTpl, res.catalogues));
                }
            });
        }

        if ($(".guide-banner-title").length == 0) {
            init_list();
        }

        $(".king-btn.mr10.king-success").click(function () {
            var ipt_app_name = $($(".form-control.bk-valign-top")[0]);
            var ipt_url = $($(".form-control.bk-valign-top")[1]);

            var data = {app: ipt_app_name.val(), url: ipt_url.val()};
            $.post(site_url + "add_cer", JSON.stringify(data), function (res) {
                if (!res.result) {
                    alert(res.message);

                    return;
                }

                ipt_app_name.val("");
                ipt_url.val("");
                init_list();
            });

        });

    });
</script>
<hr class="guide-cutting-line">
</%block>
