<%inherit file="/base.html"/>

<%block name="content">
<template id="header_tpl_1531998322076">
    <tr>
        <th style="width: 100px;">#index#</th>
        <th>#app_name#</th>
        <th style="width: 20%;">#ex_date#</th>
        <th style="width: 20%;">#when_alert#</th>
        <th style="width: 20%;">#receiver#</th>
    </tr>
</template>
<template id="tpl_1531998322076">
    <tr>
        <td style="width: 100px;">#index#</td>
        <td>#app_name#</td>
        <td style="width: 20%;">#ex_date#</td>
        <td style="width: 20%;">#when_alert#</td>
        <td style="width: 20%;">#receiver#</td>
    </tr>
</template>

<div class="home-page">
    <div class="page-arrow">
        <div class="container">
            <!-- 蓝鲸智云开发框架说明  Start -->
            <div class="tc title-word">
                <p>欢迎使用蓝鲸智云集成平台</p>
            </div>
            <div class="tc title-word-second">
                <p>蓝鲸智云开发框架
                    <small class="pl10">助力你的自动化</small>
                </p>
            </div>
            <hr class="cutting-line">
            <div class="tc frame-explain-text">
                <p>您现在打开的应用是由蓝鲸智云示例代码生成的，该示例代码称为“APP开发框架”。</p>
                <p>蓝鲸智云集成平台（PaaS）提供了完善的前后台开发框架、调度引擎、公共组件等模块，帮助业务的产品和技术人员快速构建低成本、免运维的支撑工具和运营系统。</p>
                <p>若想体验快速开发应用的功能，请前往<a class="developer-center" href="${BK_PAAS_HOST}" target="_blank">“开发者中心”</a>。</p>
            </div>
            <!-- 蓝鲸智云开发框架说明  End -->
        </div>
    </div>
</div>

</%block>

<%block name='footerline'>
<script>
    $(function () {
        function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function () {
                var val = cfg[arguments[2]] + '';
                if (typeof val == 'undefined') {
                    val = '';
                }
                return val;
            });
        }

        if ($(".tc.frame-explain-text").length == 0) {


            $.ajax({
                url: 'https://magicbox.bkclouds.cc/static_api/v3/components/list/demo.json',
                type: 'GET',
                success: function (res) {
                    var _html = ' ';
                    var list = res.items;
                    var tpl = $('#tpl_1531998322076').html();
                    var headerTpl = $('#header_tpl_1531998322076').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('.ranger-box tbody').html(_html);
                    $('.ranger-box thead').html(renderTpl(headerTpl, res.catalogues));
                }
            });
        }
    });
</script>
<hr class="guide-cutting-line">
</%block>


