<%inherit file="/base.html"/>

<%block name="content">
<template id="header_tpl_1531998322076">
    <tr>
        <th style="width: 100px;">#index#</th>
        <th>#app_name#</th>
        <th style="width: 20%;">#ex_date#</th>
        <th style="width: 20%;">#when_alert#</th>
        <th style="width: 20%;">#receiver#</th>
    </tr>
</template>
<template id="tpl_1531998322076">
    <tr>
        <td style="width: 100px;">#index#</td>
        <td>#app_name#</td>
        <td style="width: 20%;">#ex_date#</td>
        <td style="width: 20%;">#when_alert#</td>
        <td style="width: 20%;">#receiver#</td>
    </tr>
</template>

<div class="king-page-box">
        <div class="king-container clearfix">
            <div class="container-fluid m5 ">
                <div class="row">
                    <div class="col-md-6">
                        <div style="height: 300px; -webkit-tap-highlight-color: transparent; user-select: none; background-color: rgba(0, 0, 0, 0); cursor: default;" id="chart_1532240588942" class="king-chart-box chart-pie " _echarts_instance_="1532240576859"></div>
                    </div>
                    <div class="col-md-6">
                        <div style="height: 300px; position: relative;" id="chart_1532240592717" class="king-chart-box chart-bar  k-chart" data-role="chart"></div>
                    </div>
                </div>
            </div>
            <table class="table mb0 pr15 ranger-box ">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!-- 设置面板Start -->
            <template id="header_tpl_1532240600888">
                <tr>
                    <th style="width: 100px;">#index#</th>
                    <th style="width: 20%;">#task#</th>
                    <th style="width: 20%;">#progress#</th>
                    <th style="width: 20%;">#host#</th>
                    <th>#date#</th>
                </tr>
            </template>
            <template id="tpl_1532240600888">
                <tr>
                    <td style="width: 100px;">#index#</td>
                    <td style="width: 20%;">#columnName1#</td>
                    <td style="width: 20%;">#columnName2#</td>
                    <td style="width: 20%;">#columnName3#</td>
                    <td>#columnName4#</td>
                </tr>
            </template>
            <!-- 设置面板End -->
        </div>
    </div>
    <script>
        // 创建图表
        function createEPieChart(conf){
            var myChart = echarts.init(document.getElementById(conf.selector));
            var aLegend = [];
            var series = conf.data.series;
            for (var i = 0; i < series.length; i++) {
                 aLegend[i] = series[i].name;
            };
            // 填入数据
            myChart.setOption({
                title : {
                    text: conf.data.title,
                    subtext: '',
                    x:'center'
                },
                legend: {
                    y: 'bottom',
                    data: aLegend
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} {b} : {c} ({d}%)"
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series: [{
                    // 根据名字对应到相应的系列
                    name:'访问来源',
                    type:'pie',
                    data: series
                }]
            });
        }

        function initEPieChart(conf){
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                    //获取数据成功
                    if (res.result){
                        var data = res.data;
                        createEPieChart({
                            selector: conf.containerId, // 图表容器
                            data: data, // 图表数据
                        });
                    }
                }
            });
        }
    </script>
    <script>
        $(function(){
            initEPieChart({
                url: site_url + 'get_status_count',
                dataType: 'json',
                containerId: 'chart_1532240588942'
            });
        });
    </script>
    <script>
        // 创建图表
        function createKendoBarChart(conf){
            $(conf.selector).kendoChart({
                legend: {
                    position: "bottom"
                },
                theme : 'bootstrap',
                categoryAxis : {
                    majorGridLines : {
                        visible: false
                    },
                    categories : conf.data.categories
                },
                seriesDefaults : {
                    type: "column"
                },
                series : conf.data.series,
                valueAxis : {
                    max: 200,
                    line: {
                        visible: false
                    },
                    minorGridLines: {
                        visible: false
                    },
                    labels : {
                        rotation: "auto"
                    }
                },
                tooltip: {
                    visible : true,
                    template: "#= series.name # #= value #"
                }
            });
            $(window).resize(function(){
                $(conf.selector).data("kendoChart").refresh();
            });
        }

        function initKendoBarChart(conf){
            // 异步请求后台数据
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                    //获取数据成功
                    if (res.result){
                        var data = {
                            series: res.data.series,
                            categories: res.data.categories
                        };
                        createKendoBarChart({
                            selector: conf.container, // 图表窗器
                            data: data // 图表数据
                        });
                    }
                }
            });
        }
    </script>
    <script>
        $(function(){
            initKendoBarChart({
                url: site_url + 'get_ca_count',
                dataType: 'json',
                container: '#chart_1532240592717'
            });
        });
    </script>
</%block>

<%block name='footerline'>
<script>
    $(function () {
        function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function () {
                var val = cfg[arguments[2]] + '';
                if (typeof val == 'undefined') {
                    val = '';
                }
                return val;
            });
        }

        if ($(".tc.frame-explain-text").length == 0) {


            $.ajax({
                url: site_url + 'get_alert_history',
                type: 'GET',
                success: function (res) {
                    var _html = ' ';
                    var list = res.items;
                    var tpl = $('#tpl_1531998322076').html();
                    var headerTpl = $('#header_tpl_1531998322076').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(tpl, item)
                    }
                    $('.ranger-box tbody').html(_html);
                    $('.ranger-box thead').html(renderTpl(headerTpl, res.catalogues));
                }
            });
        }
    });
</script>
<hr class="guide-cutting-line">
</%block>


