<%inherit file="/base.html"/>

 <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>


<%block name="content">
<div class="king-page-box">
        <div class="king-container clearfix">
            <div class="container-fluid m10 ">
                <div class="row">
                    <div class="col-md-6">
                        <div style="height: 300px; -webkit-tap-highlight-color: transparent; user-select: none; background-color: rgba(0, 0, 0, 0); cursor: default;" id="chart_1531629922537" class="king-chart-box chart-pie m5" _echarts_instance_="1531629897157"></div>
                    </div>
                    <div class="col-md-6">
                        <div style="height: 300px; position: relative;" id="chart_1531629950062" class="king-chart-box chart-bar m5" data-role="chart"></div>
                    </div>
                </div>
            </div>
            <div style="height: 300px; position: relative;" id="chart_1531630205950" class="king-chart-box chart-line m5" data-role="chart"></div>
        </div>
    </div>
    <script>
        // 创建图表
        function createEPieChart(conf){
            var myChart = echarts.init(document.getElementById(conf.selector));
            var aLegend = [];
            var series = conf.data.series;
            for (var i = 0; i < series.length; i++) {
                 aLegend[i] = series[i].name;
            };
            // 填入数据
            myChart.setOption({
                title : {
                    text: conf.data.title,
                    subtext: '',
                    x:'center'
                },
                legend: {
                    y: 'bottom',
                    data: aLegend
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} {b} : {c} ({d}%)"
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series: [{
                    // 根据名字对应到相应的系列
                    name:'访问来源',
                    type:'pie',
                    data: series
                }]
            });
        }

        function initEPieChart(conf){
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                    //获取数据成功
                    if (res.result){
                        var data = res.data;
                        createEPieChart({
                            selector: conf.containerId, // 图表容器
                            data: data, // 图表数据
                        });
                    }
                }
            });
        }
    </script>
    <script>
        $(function(){
            initEPieChart({
                url: site_url + 'get_count_reports',
                dataType: 'json',
                containerId: 'chart_1531629922537'
            });
        });
    </script>
    <script>
        // 创建图表
        function createKendoBarChart(conf){
            $(conf.selector).kendoChart({
                legend: {
                    position: "bottom"
                },
                theme : 'bootstrap',
                categoryAxis : {
                    majorGridLines : {
                        visible: false
                    },
                    categories : conf.data.categories
                },
                seriesDefaults : {
                    type: "column"
                },
                series : conf.data.series,
                valueAxis : {
                    max: 10,
                    line: {
                        visible: false
                    },
                    minorGridLines: {
                        visible: false
                    },
                    labels : {
                        rotation: "auto"
                    }
                },
                tooltip: {
                    visible : true,
                    template: "#= series.name # #= value #"
                }
            });
            $(window).resize(function(){
                $(conf.selector).data("kendoChart").refresh();
            });
        }

        function initKendoBarChart(conf){
            // 异步请求后台数据
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                    //获取数据成功
                    if (res.result){
                        var data = {
                            series: res.data.series,
                            categories: res.data.categories
                        };
                        createKendoBarChart({
                            selector: conf.container, // 图表窗器
                            data: data // 图表数据
                        });
                    }
                }
            });
        }
    </script>
    <script>
        $(function(){
            initKendoBarChart({
                url: site_url + 'get_ca_count',
                dataType: 'json',
                container: '#chart_1531629950062'
            });
        });
    </script>
    <script>
        // 创建图表
        function createKendoLineChart(conf){
            $(conf.selector).kendoChart({
                transitions: false,
                legend: {
                   position: "bottom"
                },
                theme : 'bootstrap',
                seriesDefaults: {
                    type: 'line',
                    style: "smooth",
                    markers: {
                        visible: false
                    }
                },
                series: conf.data.series,
                categoryAxis: {
                    majorGridLines : {
                        visible: false
                    },
                    categories: conf.data.categories,
                    labels: {
                        rotation: "auto"
                    }
                },
                tooltip: {
                    visible: true,
                    template: "#= category # #= value #"
                }
            });
            //重新绘制
            $(window).on('resize',function(){
                var chart = $(conf.selector).data("kendoChart");
                chart.redraw();
            });
        }

        function initKendoLineChart(conf){
            // 异步请求后台数据
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                    //获取数据成功
                    if (res.result){
                        var data = {
                            series: res.data.series,
                            categories: res.data.categories
                        };
                        createKendoLineChart({
                            selector: conf.container, // 图表容器
                            data: data // 图表数据
                        });
                    }
                }
            });
        }
    </script>
    <script>
        $(function(){
            initKendoLineChart({
                url: 'https://magicbox.bkclouds.cc/static_api/v3/components/charts_line/demo.json',
                dataType: 'json',
                container: '#chart_1531630205950'
            });
        });
    </script>
</%block>

